@use "../utilities/responsive" as *;
@use "../variables/breakpoints" as *;

/* Containers */
.container {
  width: min(100% - 2rem, var(--content-width));
  margin-inline: auto;
}
.container-fluid {
  width: calc(100% - 2rem);
  margin-inline: auto;
}

/* Simple grid system */
.grid {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

$span-breakpoints: (
  sm: mobile,
  md: tablet,
  lg: desktop,
  xl: wide,
  xxl: full_width
);

@mixin generate-span-classes($columns: 12) {
  // base span classes
  // ex: .span-6 { grid-column: span 6; }
  @for $i from 1 through $columns {
    .span-#{$i} {
      grid-column: span #{$i};
    }
  }

  // responsive span classes
  // ex: .sm:span-6 { @media (min-width: $bp-sm) { grid-column: span 6; } }
  @each $prefix, $bp in $span-breakpoints {
    @include media($bp) {
      @for $i from 1 through $columns {
        .#{$prefix}\:span-#{$i} {
          grid-column: span #{$i};
        }
      }
    }
  }
}

@include generate-span-classes();