@use "../utilities/responsive" as *;
@use "../variables/breakpoints" as *;

/* Containers */
.container {
  width: min(100% - (var(--container-padding) * 2), var(--content-width));
  margin-inline: auto;
}
.container-fluid {
  width: calc(100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

/* Sections */
$padding-sizes: (
  none: 0,
  small: var(--section-padding-small),
  medium: var(--section-padding),
  large: var(--section-padding-large),
);
$margin-sizes: (
  none: 0,
  small: var(--section-margin-small),
  medium: var(--section-margin-medium),
  large: var(--section-margin-large),
);

section,
.section {
  padding-block: var(--section-padding);
  @each $size, $value in $padding-sizes {
    &.pt-#{$size} {
      padding-top: $value;
    }
    &.pb-#{$size} {
      padding-bottom: $value;
    }
  }
  @each $size, $value in $margin-sizes {
    &.mt-#{$size} {
      margin-top: $value;
    }
    &.mb-#{$size} {
      margin-bottom: $value;
    }
  }
}

/* Simple grid system */
.grid {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.flex {
  display: flex;
  gap: var(--grid-gap);
  flex-flow: row wrap;
}

$span-breakpoints: (
  sm: mobile,
  md: tablet,
  lg: desktop,
  xl: wide
);

/* Utility span class generator */
@mixin generate-span-classes($columns: 12) {
  // base span classes
  // ex: .span-6 { grid-column: span 6; }
  @for $i from 1 through $columns {
    .span-#{$i} {
      grid-column: span #{$i};
    }
  }

  // responsive span classes
  // ex: .sm:span-6 { @media (min-width: $bp-sm) { grid-column: span 6; } }
  @each $prefix, $bp in $span-breakpoints {
    @include media($bp) {
      @for $i from 1 through $columns {
        .#{$prefix}\:span-#{$i} {
          grid-column: span #{$i};
        }
      }
    }
  }
}

/* Utility flex class generator */
@mixin generate-flex-classes($columns: 12) {
  // base flex classes
  // ex: .flex-6 { flex: 0 0 calc(50% - half the grid gap); max-width: calc(50% - half the grid gap); }
  @for $i from 1 through $columns {
    .flex-#{$i} {
      flex: 0 0 calc((#{$i} / #{$columns} * 100%) - ((1 - (#{$i} / #{$columns})) * var(--grid-gap)));
      max-width: calc((#{$i} / #{$columns} * 100%) - ((1 - (#{$i} / #{$columns})) * var(--grid-gap)));
    }
  }

  // responsive flex classes
  // ex: .sm:flex-6 { @media (min-width: $bp-sm) { flex: 0 0 calc(50% - half the grid gap); max-width: calc(50% - half the grid gap); } }
  @each $prefix, $bp in $span-breakpoints {
    @include media($bp) {
      @for $i from 1 through $columns {
        .#{$prefix}\:flex-#{$i} {
          flex: 0 0 calc((#{$i} / #{$columns} * 100%) - ((1 - (#{$i} / #{$columns})) * var(--grid-gap)));
          max-width: calc((#{$i} / #{$columns} * 100%) - ((1 - (#{$i} / #{$columns})) * var(--grid-gap)));
        }
      }
    }
  }
}

// Generate span utility classes
@include generate-span-classes();
// Generate flex utility classes
@include generate-flex-classes();