@use "../elements/buttons";

form {
  label, input, textarea, select {
    display: block;
    width: 100%;
    margin-bottom: var(--space-2);
  }
  // Marketo overrides
  &, &.mktoForm {
    margin-bottom: var(--space-4);
    label {
      font-size: calc(var(--font-size-body) - 2px);
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, select, select.mktoField {
      border: 1px solid var(--brand-primary);
      background-color: var(--color-white);
      padding: var(--space-1) var(--space-2);
      border-radius: var(--button-radius);
      color: var(--body-color);
      box-shadow: none;
      height: 2.5rem;
      font-size: var(--font-size-body);
      font-weight: var(--font-weight-body);
      &:focus {
        color: var(--body-color);
        border-color: var(--brand-primary);
      }
    }
    select, select.mktoField {
      appearance: none;
      padding-right: var(--space-4);
      background: {
        image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='8' viewBox='0 0 16 8'%3E%3Cpolyline points='1,1 8,7 15,1' fill='none' stroke='%230F1E33' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        repeat: no-repeat;
        position: right var(--space-2) center;
      }
    }
  }
  &.mktoForm {
    width: 100% !important;
    .mktoOffset, .mktoGutter {
      width: 0 !important;
      height: 0;
    }
    .mktoLogicalField {
      width: 100% !important;
    }
    .mktoFormCol {
      margin-bottom: 0 !important;
    }
    .mktoFormCol, .mktoOffset, .mktoFieldWrap, label.mktoLabel, .mktoGutter, input.mktoField, textarea.mktoField, select.mktoField, .mktoLogicalField {
      float: none;
    }
    label.mktoLabel, input.mktoField, textarea.mktoField, select.mktoField {
      width: 100% !important;
    }
    label.mktoLabel {
      margin-bottom: var(--space-2);
      padding-top: 0;
    }
    input.mktoField, textarea.mktoField, select.mktoField {
      margin-bottom: var(--space-3);
    }
    .mktoRangeField {
      .mktoRangeValueText {
        background-image: none;
        background-color: var(--brand-primary);
        color: var(--color-white);
        border-color: var(--brand-primary);
        box-shadow: none;
        text-shadow: none;
      }
      .mktoRangeValueArrow {
        border-color: var(--brand-primary);
        background-color: var(--brand-primary);
      }
    }
    .mktoButtonWrap {
      margin-left: 0 !important;
      &, &.mktoArrowButton {
        button.mktoButton {
          @extend .btn, .btn-primary;
          background-image: none;
          box-shadow: none;
          &::before {
            display: none;
          }
        }
      }
    }
  }
}