@mixin base-typography {
	font-family: var(--font-family-body);
	font-weight: var(--font-weight-body);
	font-size: var(--font-size-body);
	color: var(--body-color);
	line-height: var(--line-height-body);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin make-lead {
	font-weight: var(--font-weight-body, 400);
	font-size: calc(var(--font-size-body) + 8px);
	line-height: 1.25;
}

@mixin make-small {
	font-weight: var(--font-weight-body, 400);
	font-size: calc(var(--font-size-body) - 2px);
	line-height: 1.2;
}

@mixin make-inverse() {
	p,
	li,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	blockquote,
	span,
	lead,
	small,
	.clean-w-icon {
		color: var(--color-white, #fff);
	}
	a.btn {
		&.btn-primary-outline,
		&.btn-secondary-outline {
			color: var(--color-white, #fff);
		}
	}
	ul li::marker {
		color: var(--color-white, #fff);
	}
}

@mixin highlight {
	border-bottom-color: transparent;
	text-decoration: none;
	color: var(--brand-primary-darkened);
	background: var(--brand-primary-lightened);
	transition: color 0.15s linear, background-color 0.15s linear, border-bottom-color 0.15s linear;
}

@mixin highlight-on-hover() {
	background: transparent;
	border-bottom: 2px solid var(--brand-primary);
	transition: color 0.15s linear, background-color 0.15s linear;
	&:hover, &:focus {
		text-decoration: none;
		border-bottom-color: transparent;
		color: var(--brand-primary-darkened);
		background: var(--brand-primary-lightened);
	}
}
