// BG colors mapped to theme's color palette
.bg {
  &-primary1,
  &-brand-primary {
    background-color: var(--brand-primary);
  }
  &-primary2,
  &-brand-secondary {
    background-color: var(--brand-secondary);
  }
  &-primary3,
  &-brand-tertiary {
    background-color: var(--brand-tertiary);
  }
  &-primary4,
  &-brand-tertiary-alt {
    background-color: var(--brand-tertiary-alt);
  }
  &-neutral1,
  &-color-black {
    background-color: var(--color-black);
    h1, h2, h3, h4, h5, h6,
    .btn.btn-primary-outline,
    .btn.btn-secondary-outline,
    p a:not(.btn),
    p a:not(.btn):active,
    span {
      color: var(--color-white);
    }
  }
  &-neutral2,
  &-color-gray {
    background-color: var(--color-gray);
  }
  &-neutral3,
  &-color-gray-light {
    background-color: var(--color-gray-light);
  }
  &-color-white {
    background-color: var(--color-white);
  }
  &-transparent {
    background-color: transparent;
  }
}

// BG Attachment utility classes
.bg-attachment {
  &-fixed {
    background-attachment: fixed;
  }
  &-scroll {
    background-attachment: scroll;
  }
  &-image-fixed {
    clip-path: inset(0);
    img {
      object-fit: cover; 
      position: fixed;
      left:0;
      top:0;
      width: 100%; 
      height: 100%;
    }
  }
}

// Text colors mapped to theme's color palette
.text {
  &-light {
    &, h1, h2, h3, h4, h5, h6,
    .btn.btn-primary-outline,
    .btn.btn-secondary-outline,
    p a:not(.btn),
    p a:not(.btn):active,
    span,
    p {
      color: var(--color-white);
    }
  }
  &-dark {
    color: var(--body-color);
  }
  &-muted {
    color: var(--color-gray);
  }
}

// Screen reader only utility class
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Centered button group
.flex-center {
	justify-content: center;
	flex-wrap: wrap;
}

// Opacity modifier class
.muted {
  opacity: 0.5;
}

// Tag elements
.tag {
  display: inline-block;
  padding: 4px 8px;
  font-size: .65rem;
  text-transform: uppercase;
  font-weight: var(--weight-semibold);
  border-radius: var(--button-radius);
  background-color: var(--color-gray-light);
  color: var(--body-color);
  margin: 2px;
  &-dark {
    background-color: var(--body-color);
    color: var(--color-white);
  }
  &-light {
    background-color: var(--color-white);
    color: var(--body-color);
  }
}